   <div class="cat-modal cat-hidden"> 
<!-- cat-hidden -->
<a class="title-text">Сlick to login or register  
    <svg class="fa">
    <use href="./images/sprite.svg#icon-paw"></use>
</svg></a>       
<div class="catContainer">
    <div class="catHead catColor">
        <div class="catLeftEye catEye">
            <div class="leftEyelid eyelid catColor"></div>
            <div class="pupil"></div>
        </div>
        <div class="catRightEye catEye">
            <div class="rightEyelid eyelid catColor"></div>
            <div class="pupil"></div>
        </div>
    </div>
    <div class="catLeftEar catEar catColor">
        <div class="catLeftInsideEar catInsideEar"></div>
    </div>
    <div class="catRightEar catEar catColor">
        <div class="catRightInsideEar catInsideEar"></div>
    </div>
    <div class="catHair catColor"></div>
    <!--End head and face-->
    <div class="catBody catColor">
        <div class="catFoot leftFoot catColor"></div>
        <div class="catFoot rightFoot catColor"></div>
    </div>
    <div class="catTail">
        <span class="catColor"></span>
        <span class="catColor"></span>
        <span class="catColor"></span>
        <span class="catColor"></span>
        <span class="catColor"></span>
        <span class="catColor"></span>
        <span class="catColor"></span>
        <span class="catColor"></span>
        <span class="catColor"></span>
        <span class="catColor"></span>
        <span class="catColor"></span>
        <span class="catColor"></span>
        <span class="catColor"></span>
        <span class="catColor"></span>
        <span class="catColor"></span>
    </div>
</div>
<button class="close-annoyment" title="close">
    <svg class="icon-cat-close">
        <use href="./images/sprite.svg#icon-close-desktop"></use>
    </svg>
</button>
</div>
