<main>
  <h1 class="visually-hidden">Filmoteka</h1>
  <div class="container main-container js-main">
      <!-- *тут розміщено тестові кардки які будуть видалені
    
        js-main Додано для рефів в JS

       !---DIV  "content-control-buttons" --- 
       *для кнопок гортання сторінок

       ! хто робить картку в .hbs будь ласка дайте  на лішку клас -
       ToDo  "main-content-list__item"-зроблено Ярова Т.

    -->
  <div class="js-element-observer"></div>
  <ul class="main-content-list js-main-content-list"></ul>

  <div id="content"></div>
  <div class="pagination pagination-my-style"></div>

  
  </div>
</main>
